<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar This</title>
</head>
<body>
  <!-- <h1>Calendar Working</h1> -->
  <form method="post" action="/">
    <!-- use your form variable here -->
    <!-- to make your form           -->
    <!-- this is for CSRF attacks, something about making it safe -->
    {{ form.hidden_tag() }}
    <p>Name {{ form.name() }}</p>
    <p>Start date {{ form.start_date() }}</p>
    <!-- {{ form.start_date.label }} {{ form.start_date }} -->
    <p>Start time {{ form.start_time() }}</p>
    <p>End date {{ form.end_date() }}</p>
    {% if form.end_date.errors %}
    <ul class="errors">
      {% for error in form.end_date.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <p>End time {{ form.end_time() }}</p>
    <p>Description {{ form.description() }}</p>
    <p>Private? {{ form.private() }}</p>
    <p>{{ form.submit() }}</p>
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      <!-- (1, 'My appointment', datetime.datetime(year, month, day, 14, 0, 0)), datetime.datetime(year, month, day, 15, 0, 0)) -->
      <!-- d.strftime("%H:%M") -->
      <!-- loop here to create rows -->
      <!-- use strftime to format date objects -->
      <!-- loop here to create rows -->
      {% for item in rows %}
      <tr>
        {% for ele in item %}
        <td>
          {% if ele is not string %}
            {{ ele.strftime("%H:%M") }}
          {% else %}
            {{ ele }}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>